<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235428092552-nfrk0i0vdf509rlaor086ekpmvboc9u2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235428092552-nfrk0i0vdf509rlaor086ekpmvboc9u2</string>
	<key>API_KEY</key>
	<string>AIzaSyBz3pSfqGOqWgNjloyPG33-svTfvSfL_0M</string>
	<key>GCM_SENDER_ID</key>
	<string>235428092552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.iener.EgService</string>
	<key>PROJECT_ID</key>
	<string>egservice</string>
	<key>STORAGE_BUCKET</key>
	<string>egservice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235428092552:ios:24058e1e1156de083b5d3d</string>
	<key>DATABASE_URL</key>
	<string>https://egservice.firebaseio.com</string>
</dict>
</plist>